body
{
    background-color: #1c1c1c;
}

#taulell
{
    background: linear-gradient(to bottom,RGBA(255,255,255,0.15), #1c1c1c);
    /*background-color: RGBA(255,255,255,0.15);*/
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 5%;
    padding-bottom: 2%;

}

#register
{
    width: 30%;
    display:flex;
    flex-direction: column;
    border-color: #1c1c1c;
    border-width: 5px;
    margin-left: 4%;
}

#register form
{
    width: 100%;
    height: 100%;
    vertical-align: 100%;
}

#register input
{
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
    opacity: 70%;
    height: 5%;
}
#register button
{
    opacity: 80%;
    height: 8%;
    width: 70%;
    margin-left: 12%;
    margin-top: 12%;
    border-radius: 20px;
}

#register h1
{
    margin-top: -5%;
    margin-left: 10%;
    color: RGBA(255,255,255,0.8);
    font-size: 250%;
}

#separador
{
    border-left: 6px solid black;
    height: 500px;
    position: center;
    left: 50%;
    margin-left: 15%;
    margin-top: -5%;
}

#login
{
    margin-top: 10%;
    width: 30%;
    display:flex;
    flex-direction: column;
    margin-left: 15%;
}
#login input
{
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
    opacity: 70%;
    height: 6%;
}
#login button
{
    opacity: 80%;
    height: 10%;
    width: 70%;
    margin-left: 12%;
    margin-top: 12%;
    border-radius: 20px;
    background-color: azure;
}

#login h1
{
    margin-top: -35%;
    padding-bottom: 20%;
    margin-left: 10%;
    color: RGBA(255,255,255,0.8);
    font-size: 250%;
}

button
{
    font-family: Georgia;
}