body
{
	/*background-color: #1c1c1c;*/
	background-color: #1c1c1c;

}
#barraSup
{
    /*background-color: RGBA(255,255,255,0.15);*/
	background: linear-gradient(to top, #1c1c1c, RGBA(255,255,255,0.15));
    margin-top: -2.3%;
    margin-left: -0.6%;
    margin-right: -0.6%;
	border-bottom: 2px solid black;

}

#menu
{
    margin-top: 2%;
    display: flex;
    border: 1px solid black;
}

#logo a img
{
    width: 90%;
    margin-top: 3%;
    margin-left: 13%;
}

#cat
{
    margin-top: 2%;
    margin-left: 3%;
	width: 40px;
	height: 40px;
}
#bar
{
    margin-top: 2%;
    width: 300%;
    margin-left: 4%;

}
#bar input
{
    width: 60%;
    height: 60%;
    border-radius: 10px;
    background-color: RGB(120,120,120);
    font-size: 150%;
    color: azure;
}

::placeholder
{
    color: RGB(200,200,200);
    opacity: 30%;
    margin-left: 2%;
}

#bar img
{
    width:3%;
    margin-bottom: -0.5%;
}
#user img
{
    margin-top: 35%;
    width: 70%;
    padding: 10%;
    margin-left: -120%;
}
#carro img
{
    width: 50%;
    padding: 2%;
    margin-top: 20%;
    margin-right: -5%;
}

.container{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

.container tr img{
	width: 200px;
	height: 200px;
}

.container tr p{
	text-align:center;
}

#check{
	display: none;
}

.checkbox{
	cursor: pointer;
}

.container-menu{
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

#check:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}
.cont-menu{
	width: 100%;
	max-width: 250px;
	background: #1c1c1c;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
}

#check:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);	
}

.cont-menu nav{
	transform: translateY(15%);
}

.cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #F2F5F4;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}

.cont-menu nav a:hover{
	border-left: 5px solid #c7c7c7;
	background-color: #1F1F1F
}

.cont-menu label{
	position: absolute;
	right: 10%;
	top: 2%;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}